* {
  background-color: rgb(71, 71, 71);
}

h1 {
  font-family: "Black Ops One";
}
.nav-wrapper {
  background-color: rgb(126, 53, 53);
  color: black;
}

.container {
  display: flex;
  align-items: right;
}

#mmaList {
  border: rgb(0, 0, 0) solid 2px;
}

li {
  list-style: none;
  color: white;
  font-size: 16px;
}

a {
  background-color: rgb(126, 53, 53);
}

i {
  background-color: rgb(0, 0, 0);
}

.footer-copyright {
  background-color: rgb(126, 53, 53);
}
