* {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

h1 {
  font-family: "Black Ops One";
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  font-size: 8vw;
  text-shadow: 6px 6px 0px rgb(10, 8, 116);
  mix-blend-mode: screen;
  animation: fadeIn 2.2s linear forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0.05;
  }

  100% {
    opacity: 1;
  }
}

h2 {
  font-family: "Black Ops One";
  color: rgb(0, 0, 0);
  font-size: 35px;
}

.container {
  display: flex;
  align-items: right;
}

.card-content {
  background-color: #a491916a;
}

#dialog {
  display: none;
}

li {
  list-style: none;
  font-size: 16px;
}

a {
  background-color: rgb(192, 31, 31);
}

i {
  background-color: rgb(255, 254, 254);
}

.footer-copyright {
  background-color: rgb(192, 31, 31);
}

#submitBtn {
  background-color: black;
}
#submitBtn:hover {
  background-color: rgb(51, 36, 182);
}
